@import "./Variable.scss";

// Section Titles
.section-title {
  text-transform: uppercase;

  h3 {
    font-size: clamp(18px, 1.2vw, 20px);
    font-family: $section-subtitle;
    line-height: 1.1;
    letter-spacing: 0.4em;
    margin: 0 auto;
    color: $secondary;

    @include lg {
      font-size: clamp(18px, 2.018vw, 20px);
    }
  }

  h2 {
    font-size: clamp(65px, 5vw, 80px);
    font-family: $font-family-title;
    line-height: 1;
    letter-spacing: 0.03em;
    white-space: nowrap;
    margin: 0 auto;
    color: $dark;

    @include lg {
      font-size: clamp(55px, 6.559vw, 65px);
    }
  }
}

// Button Styles

.global-btn {
  a {
    display: inline-block;
    border-width: 1px;
    border-color: $dark;
    border-style: solid;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.2s ease;
    letter-spacing: 0.01em;
    font-family: $section-subtitle;
    font-size: 12px;
    color: $dark;
    position: relative;
    transition: all 0.1s ease-in-out;
    white-space: nowrap;

    &:hover {
      color: #fff;
    }

    &::before {
      position: absolute;
      width: 2%;
      background: $primary;
      content: "";
      left: 0;
      height: 100%;
      top: 0;
      transition: all 0.2s ease-in-out;
      z-index: -1;
    }
    &:hover::before {
      width: 100%;
    }
  }
}

// NAVIGATION BAR

header {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  transition: 0.3s ease-in;

  @include lg {
    height: 5%;
    background-color: #fff;
    position: fixed;
    box-shadow: inset 0px -5px 5px -5px rgba(0, 0, 0, 0.9);
    padding: 15px 0;
  }

  &.sticky {
    position: fixed;
    background-color: $primary;
    width: 100%;
    padding-top: 0;

    @include lg {
      background-color: #fff;
      padding-top: 15px;
    }
  }

  .header_nav {
    display: none;

    @include lg {
      display: flex;
      justify-content: space-between;
      width: 90%;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: rgb(204, 204, 204);
      font-size: 25px;
      text-shadow: 1px 2px 2px #000;
    }
  }
}

.mobile-logo {
  display: none;

  @include lg {
    display: block;
  }

  a img {
    max-width: 150px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .nav__brand {
    max-width: 250px;

    @include lg {
      display: none;
    }
  }

  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }

  .nav__item {
    list-style: none;

    a {
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      font-family: $font-family-subtitle;
      color: #fff;
      text-shadow: 1px 2px 2px #000;
      position: relative;
      display: inline-block;

      &::before{
        width: 0;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s ease;
        transform-origin: center;
        content: '';
      }
      &:hover::before{
        width: 100%;
      }
    }
  }
  .nav__toggler {
    display: none;

    @include lg {
      display: block !important;
      cursor: pointer;
      border: none;
      background: none;
      z-index: 10;
      
    }

    div {
      width: 2.5rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: rgb(204, 204, 204);
      transition: 0.3s ease-in;
      color: $primary;
    }
  }
}

@include lg {
  .nav__menu {
    position: fixed;
    top: -16px;
    right: 0;
    height: 100vh;
    width: 35vw;
    background: $primary;
    flex-direction: column;
    transform: translateX(100%);
    padding-left: unset !important;
    transition: 0.5s ease-in;
    justify-content: center !important;
  }
}

@include md{
  .nav__menu {
    width: 50vw;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-9px, -9px);
}

.container {
  width: 1199px;
  margin: 0 auto;
  padding: 0 15px;

  @include xl {
    width: 920px;
  }
  @include lg {
    width: 720px;
  }
  @include md {
    width: 100%;
    padding: 0 5px;
  }
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.mainWrapper{
  overflow: hidden;
}

.safari-true{
  .hp-pp{
    &::after {
      background-attachment: scroll;
    }
  }
  .hp-contact{
    &::after {
      background-attachment: scroll;
    }
  }
}