@import "./Variable.scss";
@import "./Global.scss";

// HERO SLIDER
.carousel {
  height: 800px;
  position: relative;
  overflow: hidden;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.active {
      opacity: 1;
    }

    .carousel-item-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      z-index: 99;

      h2 {
        font-size: clamp(60px, 7.938vw, 100px);
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-shadow: 1px 2px 2px #000;
        font-family: $font-family-title;
      }

      p {
        font-size: clamp(16px, 1.25vw, 20px);
        letter-spacing: 0.03em;
        font-family: $font-family-subtitle;
        text-transform: uppercase;
      }
    }
  }
}



// ABOUT SECTION

#hp-about {
  position: relative;
  padding: 50px 0 80px;

  .container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .agent {
      width: 43%;

      img {
        max-width: 562px;
        height: auto;
      }
    }

    .about-body {
      width: 57%;
      margin-left: 6%;


      .section-title{
        margin-top: 45px;
      }

      .content {
        p {
          font-size: clamp(14px, 1vw, 16px);
          letter-spacing: 0.02em;
          line-height: 1.6;
          max-width: 660px;
          font-family: $section-subtitle;
        }
      }
    }
  }
}
