// FONT FAMILY
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
// Variables

// Fonts
$font-family-default: "Mulish", sans-serif;
$font-family-title: "Lora", serif;
$section-subtitle: 'Spartan';
$font-nav:'Open Sans', sans-serif;
$font-family-subtitle: 'Montserrat', sans-serif;
$font-size-default: 16px;
$font-size-title: 18px;
$primary-text-color: #191919;
// Colors
$primary: #C52B2A;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #e2e3e4;
$dark: #191919;
