// FONT FAMILY
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
// Variables

// Fonts
$font-family-default: "Mulish", sans-serif;
$font-family-title: "Lora", serif;
$font-family-subtitle: 'Montserrat', sans-serif;
$font-size-default: 16px;
$font-size-title: 18px;
$primary-text-color: #191919;
// Colors
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #e2e3e4;
$dark: #191919;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

